In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/Users/markmandel/anaconda/lib/python3.5/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)
/Users/markmandel/anaconda/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In Markdown, this is the right way to make links:

```
[10 minutes to `pandas`](http://pandas.pydata.org/pandas-docs/stable/10min.html)
```

[10 minutes to `pandas`](http://pandas.pydata.org/pandas-docs/stable/10min.html)

In [2]:
# This will not work
df = pandas.DataFrame({'Name': 'Mark', 'Denise', 'Ella', 'Jackie', 'Jing', 'Jyoti',
                       'Position': 'PI', 'Graduate Student', 'Postdoc', 'Technician', 'Undergraduate Student', 'Undergraduate Student',
                       'Here_on_Monday': True, True, True, False, False, False})

SyntaxError: invalid syntax (<ipython-input-2-2f2887b59a92>, line 2)

In [8]:
# Oops. Didn't work for two reasons. (1) pandas instead of pd. (2) Need list to enclose items.
# (but usually we are importing from csv...)
df = pd.DataFrame({'Name': ['Mark', 'Denise', 'Ella', 'Jackie', 'Jing', 'Jyoti'],
                   'Position': ['PI', 'Graduate Student', 'Postdoc', 'Technician', 'Undergraduate Student', 'Undergraduate Student'],
                   'Here_on_Monday': [True, True, True, False, False, False]})
df

  Here_on_Monday    Name               Position
0           True    Mark                     PI
1           True  Denise       Graduate Student
2           True    Ella                Postdoc
3          False  Jackie             Technician
4          False    Jing  Undergraduate Student
5          False   Jyoti  Undergraduate Student

### Dictionaries are unordered (for now...)
Notice that the order of the columns is different from what was specified.  
Python dictionaries are unordered. But this is changing in Python 3.6 probably. Stay tuned...  
There is an orderedDict in the collections module.

Link to [Chris Albon's site for pandas cheat sheet](http://chrisalbon.com)

### Glob

### First I'm going to make a bunch of files in a directory called 'yo1.txt', 'yo2.txt', 'yo3.txt'

In [15]:
!touch yo1.txt yo2.txt yo3.txt

In [16]:
!ls

2016-09-30-software-carpenty-leftovers.ipynb
yo1.txt
yo2.txt
yo3.txt

In [17]:
import glob

In [20]:
glob.glob('*')

['2016-09-30-software-carpenty-leftovers.ipynb',
 'yo1.txt',
 'yo2.txt',
 'yo3.txt']

In [21]:
glob.glob('*.txt')

['yo1.txt', 'yo2.txt', 'yo3.txt']

In [22]:
for filename in glob.glob('*.txt'):
    print(filename)

yo1.txt
yo2.txt
yo3.txt

In [23]:
for filename in glob.glob('*.txt'):
    root = filename.split('.')[0]
    print(root)

yo1
yo2
yo3

In [24]:
for filename in glob.glob('*.txt'):
    # save a blank file with the same root (.blank)
    root = filename.split('.')[0]
    with open(root + '.blank', 'w') as f:
        pass

In [25]:
!ls

2016-09-30-software-carpenty-leftovers.ipynb
yo1.blank
yo1.txt
yo2.blank
yo2.txt
yo3.blank
yo3.txt